<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Proyecto1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrarPropietario</display-name>
    <servlet-name>RegistrarPropietario</servlet-name>
    <servlet-class>com.registrar.RegistrarPropietario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPropietario</servlet-name>
    <url-pattern>/RegistrarPropietario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarPaqueteCasaPlaya</display-name>
    <servlet-name>RegistrarPaqueteCasaPlaya</servlet-name>
    <servlet-class>com.registrar.RegistrarPaqueteCasaPlaya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPaqueteCasaPlaya</servlet-name>
    <url-pattern>/RegistrarPaqueteCasaPlaya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarCasaPlaya</display-name>
    <servlet-name>RegistrarCasaPlaya</servlet-name>
    <servlet-class>com.registrar.RegistrarCasaPlaya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarCasaPlaya</servlet-name>
    <url-pattern>/RegistrarCasaPlaya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestruirSession</display-name>
    <servlet-name>DestruirSession</servlet-name>
    <servlet-class>com.destruir.DestruirSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestruirSession</servlet-name>
    <url-pattern>/DestruirSession</url-pattern>
  </servlet-mapping>
</web-app>